pipeline/Incremental_copy.json
{
	"name": "Incremental_copy",
	"properties": {
		"activities": [
			{
				"name": "Get_metadata_incemental_copy",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_incremental_copy",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For_Each_Child_Item_incremental",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_metadata_incemental_copy",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_metadata_incemental_copy').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get_Metadata_For_Each_Dynamic",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_metadata_incremental_Parameter",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If_Condition_variables_GetMetadata",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Metadata_For_Each_Dynamic",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get_Metadata_For_Each_Dynamic').output.lastModified,variables('PreviousFile'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set_variable_IF_Condition",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "CurrentFile",
											"value": {
												"value": "@activity('Get_Metadata_For_Each_Dynamic').output.itemName",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_variable_IF_Condition2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_variable_IF_Condition",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "PreviousFile",
											"value": {
												"value": "@activity('Get_Metadata_For_Each_Dynamic').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy_Data_Incremental_Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "For_Each_Child_Item_incremental",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_metadata_incremental_Parameter",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@variables('CurrentFile')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_incremental_copy_Staging",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"CurrentFile": {
				"type": "String"
			},
			"PreviousFile": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Incremental_csv_Files"
		},
		"annotations": []
	}
}