pipeline/ppl_incremental_copy_practice2.json
{
	"name": "ppl_incremental_copy_practice2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_CS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_cs",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_CS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata_CS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_CS').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata_CS_Para",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_CS_Para",
									"type": "DatasetReference",
									"parameters": {
										"CSFileName": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition_CS",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata_CS_Para",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata_CS_Para').output.lastModified,variables('PreviousFileCS'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable_CS_FileName",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "CurrentFileCS",
											"value": {
												"value": "@activity('Get Metadata_CS_Para').output.itemName",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable_CS_LastModified",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable_CS_FileName",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "PreviousFileCS",
											"value": {
												"value": "@activity('Get Metadata_CS_Para').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data_CS_Increment",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set variable_CS_LastModified",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_CS_Para",
												"type": "DatasetReference",
												"parameters": {
													"CSFileName": {
														"value": "@variables('CurrentFileCS')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_CS_Sink",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"CurrentFileCS": {
				"type": "String"
			},
			"PreviousFileCS": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Incremental_csv_Files"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-25T00:48:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}